@import "tailwindcss";

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #0000000d;
}

@theme{
  --color-main: #0F407B;
  --color-font: #1E1F25;
  --color-info: #878A96;
  --color-highlight: #35CF94;
  --color-chart: #f6f6f6;
  --color-icon: #F1F1F1;
  --inset-shadow-md: inset 0 2px 6px 3px rgb(0 0 0 / 0.05);
  --shadow-custom: 0px 0px 9px 5px rgb(0 0 0 / 0.1);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}